<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlet.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>Servlet.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>Servlet.content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>Servlet.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allcontent</servlet-name>
        <servlet-class>Servlet.allcontent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showcontent</servlet-name>
        <servlet-class>Servlet.showcontent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>Servlet.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>Servlet.about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personnal</servlet-name>
        <servlet-class>Servlet.personnal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>Servlet.student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>course</servlet-name>
        <servlet-class>Servlet.course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academic</servlet-name>
        <servlet-class>Servlet.academic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qassurance</servlet-name>
        <servlet-class>Servlet.qassurance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>Servlet.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timetable</servlet-name>
        <servlet-class>Servlet.timetable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allcontent</servlet-name>
        <url-pattern>/allcontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showcontent</servlet-name>
        <url-pattern>/showcontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personnal</servlet-name>
        <url-pattern>/personnal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academic</servlet-name>
        <url-pattern>/academic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qassurance</servlet-name>
        <url-pattern>/qassurance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timetable</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
