.headcontent {
    width: 100%;
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
    background-repeat: no-repeat;
}

.default.ui-grid-a .ui-block-a,.default.ui-grid-a .ui-block-b{
    text-align: right;
    width:50%;
}
.default.ui-grid-a{
    margin-bottom: 10px;
}
.ui-field-contain label.ui-input-text,.ui-field-contain label.ui-select,label.ui-slider{
    float: left;
    line-height: 33px;
    width: 32%;
}
.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text,.ui-field-contain .ui-select{
    width: 66%;
}
.ui-slider-track, .ui-slider-switch{
    margin-top: -30px;
    float: right;
    width: 40%;
}
.ui-collapsible-content{
    padding: 10px 0;
}
#frm_image{
    width: 720px;
    height: 310px;
}
#image,#_image{
    border: solid rgb(179, 179, 179) 1px;
    border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}
.hidden{
    display: none;
    position: absolute;
}
.comment{
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: red;
}
.ui-btn-active{
    background-image: #ff5533;
}
.ui-body-c textarea{
    height: 260px;
    width: 620px;
    margin: 0 auto 10px auto;
}
.image_frm{
    width: 240px;
    height: 180px;
    margin: 10px auto;
}
.image_per{
    width: 120px;
    height: 160px;
    margin: 10px auto;
}
.image_name{
    font-weight: bold;
    text-align: center;
}

a.admin_btn.ui-link{
    font-size: 16px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 50px;
}