.frmcontent{
    width: 100%;
    height: auto;
}

.headcontent{
    width: 100%;
    /*    background-image: url('../images/headnews.png');*/
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
    background-repeat: no-repeat;
}

.showcontent{
    margin: 15px 10px;
}

.per_frm_images{
    width: 120px;
    height: 180px;
    margin: 20px;
    background: #194b7e;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

.per_image{
    margin: 10px 0;
    width: 120px;
    height: 160px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}

.personnal.ui-grid-a .ui-block-a {
    width: 30%;
}
.personnal.ui-grid-a .ui-block-b {
    width: 68%;
}
h3 {
     font-size: 1em;
    background-color: #F9F8FF;
    line-height: 50px;
    margin: 0 auto;
    padding-left: 5%;
    width : 90%;
    color: #194b7e;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius:  20px 20px 0 0;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}
.personnal.ui-grid-a{
    font-size: 1em;
    line-height: 20px;
    margin: 0 auto 20px auto;
    width : 95%;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius:  0 0 20px 20px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}