.frm{
    width: 90%;
    margin: 0 auto;
}

body p{
    margin: 15px auto 0 auto;
    text-align: justify;
    width: 100%;
    text-indent: 40px;
    line-height: 30px;
    font-size: 1.1em;
}

.showcontent a{
    line-height: 2em;
    text-decoration: none;
    font-size: 1.1em;
}

.showcontent a:link,.showcontent a:visited{
    color: #3C3C3F;
}

.showcontent a:hover{
    color: #FF9938;
}

.frmcontent{
    width: 100%;
    height: auto;
}

.headcontent{
    width: 100%;
    /*    background-image: url('../images/headnews.png');*/
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
    background-repeat: no-repeat;
}