/* 
    Document   : showcontent
    Created on : May 22, 2013, 5:21:51 PM
    Author     : Note
    Description:
        Purpose of the stylesheet follows.
*/

.frmcontent{
    width: 100%;
    height: auto;
}
.headcontent{
    width: 100%;
    /*    background-image: url('../images/headnews.png');*/
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
    background-repeat: no-repeat;
}

.showcontent{
    margin: 15px 10px;
    min-height: 400px;
}
.date{
    font-size: 1em;
}
.title{
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px auto;
}

.detail{
    margin: 10px auto;
    text-indent: 25px; 
    text-align: justify;
    line-height: 30px;
    font-size: 1em;
}

.images{
    margin: 10px 0;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}