/* ColumnLeft START */
.column.ui-grid-a .ui-block-a .default.ui-grid-a .ui-block-a,.column.ui-grid-a .ui-block-a .default.ui-grid.a .ui-block-b{
    width:50%;
}
/* ColumnLeft END */

/* ColumnRight START */
#cisco{
    min-height: 100px;
    background-image: url('../images/cisco.png');
}
#oracle{
    min-height: 100px;
    background-image: url('../images/oracle.png');
}
#microsoft{
    min-height: 100px;
    background-image: url('../images/microsoft.png');
}
.user_menu{
    text-align: left;
}
#frmcalendar{
    height: 100%;
}
.calendar .ui-datepicker{
    width: 96%;
}
.column.ui-grid-a .column.ui-block-a{
    width:75%;
}
.column.ui-grid-a .column.ui-block-b{
    width:24%;
    margin-left: 1%; 
    height: auto;
}
#date{
    float: left;
    width:79%;
    margin-left: 1%;
    margin-top: 4px;
    border-radius: 7px;
    height: 32px;
    background-color: #F9F8FF;
    cursor: default;
    text-align: center;
    line-height: 35px;
    text-shadow: none;
    font-family: cursive;
    color: rgb(10, 88, 172);
    font-weight: bolder;
    font-size: 14px;
    -moz-box-shadow: 0px 0px 8px #E1E1E1;
    -webkit-box-shadow: 0px 0px 8px #E1E1E1;
    box-shadow: 0px 0px 8px #E1E1E1;
}
#social{
    height: 40px;
    margin-left: 83%;  
}
.frmcolR{
    width: 229px;
    min-height: 250px;
    background-color: #F9F8FF;
    border: solid #E1E1E1 1px;
    border-radius: 7px;
    margin: 10px 0 0 0;
}
.headlogin{
    width: 100%;
    background-image: url('../images/login.png');
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
}
.login.ui-grid-b .login.ui-block-a , .login.ui-grid-b .login.ui-block-c{
    width: 10px;
}
.ui-grid-b.login .login.ui-block-b{
    width: 200px;
}
.frmemail {
    text-align: center;
    margin: 28px 0 0 0 ;
}
.frmpass {
    text-align: center;
    margin: 15px 0 0 0 ;
}
.btlogin{
    text-align: center;
    width: 70%;
    margin: 20px auto 0 auto;
}
.headcalendar{
    width: 100%;
    background-image: url('../images/calendar.png');
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
}
.headlink{
    width: 100%;
    background-image: url('../images/headlink.png');
    height: 50px;
    border-bottom: solid #E1E1E1 1px;
}
.link a:link , .link a:visited ,.frmemail a:link ,.frmemail a:visited ,.admin_btn:link ,.admin_btn:visited{
    text-decoration: none;
    font-size: 14px;
    text-shadow: initial;
    font-weight: bold;
    color: #194b7e;
}
.link a:hover ,.frmemail a:hover ,.admin_btn:hover{
    font-weight: bolder;
    color: #FF8109;
}
.link{
    /*list-style-type: none;*/
    margin: 8px auto 8px 3px;
    white-space: nowrap;
}

/* ColumnRight END */
/* HEADER STRAT */

[data-role=header]{
    background-repeat: no-repeat;
}
#cssmenu{width: 99.8%;height:37px; display:block; padding:0;  border:1px solid; border-radius: 7px 7px 0 0;-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
         -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
         box-shadow: 0px 0px 5px rgba(0,0,0,.6);}
#cssmenu > ul {list-style:inside none; padding:0; margin:0;}
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 13.28px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); }
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;}
#cssmenu > ul > li > a:after{ content:''; position:absolute; top:-1px; bottom:-1px; right:-2px; z-index:99; }
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}
#cssmenu ul li.has-sub:hover > a{ background:rgba(255,255,255,0.5); border-color:rgba(255,255,255,0.5); padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; }
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;}
#cssmenu ul li.has-sub > a:hover{background:rgba(255,255,255,0.5); border-color:rgba(255,255,255,0.5);}
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:rgba(254,189,128,.8); border-radius:0 0 5px 5px; z-index:999; }
#cssmenu ul li > ul{width:200px;}
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:rgb(255, 255, 255); text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); }
#cssmenu, #cssmenu > ul > li > ul > li a:hover{ cursor: pointer;text-shadow:0px 0 1px white;color:#fff;
                                                background: rgb(255,183,107); /* Old browsers */
                                                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                                                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjc2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmYTczZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmN2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                                                background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
                                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
                                                background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
                                                background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
                                                background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
                                                background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
                                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
                                                /*                                                background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c {a-bar-background-start}), to( #111 {a-bar-background-end}));  Saf4+, Chrome 
                                                                                                background-image: -webkit-linear-gradient( #3c3c3c {a-bar-background-start}, #111 {a-bar-background-end});  Chrome 10+, Saf5.1+ 
                                                                                                background-image:    -moz-linear-gradient( #3c3c3c {a-bar-background-start}, #111 {a-bar-background-end});  FF3.6 
                                                                                                background-image:     -ms-linear-gradient( #3c3c3c {a-bar-background-start}, #111 {a-bar-background-end});  IE10 
                                                                                                background-image:      -o-linear-gradient( #3c3c3c {a-bar-background-start}, #111 {a-bar-background-end});  Opera 11.10+ 
                                                                                                background-image:         linear-gradient( #3c3c3c {a-bar-background-start}, #111 {a-bar-background-end});*/
}
#cssmenu{border-color:rgba(255,127,4,1);}
#cssmenu > ul > li > a{/*border-right:1px solid rgb(109, 109, 109);*/ color:rgb(255, 255, 255);}
#cssmenu > ul > li > a:after{border-color:#444;}
#cssmenu > ul > li > a:hover{cursor: pointer;/*text-shadow:0px 0 1px white;*/color:#fff;background:rgba(255,255,255,0.5);}

/* HEADER END */